#{extends 'main.html' /}
#{set title:'Aimday Schedule' /}

#{if hittadeFel}
	Warning: this schedule contains the following errors: 
     #{list fel, as:'felet'}
         ${felet}<br>
     #{/list}
#{/if}

<div id="filler1" style="margin-bottom: 70px;">
<section id="help">
    <span class="pull-right">
    	<a href="#helpModal" data-toggle="modal">Show help</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
   	</span>
</section>

#{if schedule}
<section id="schema">
  <div class="page-header">
    <h1>    
    Schedule for <span data-bind="text: namn"/></h1>
    <br>
    <span data-bind="if: optimeringsInformation.anvandVikter">
	    When evaluating this schedule specific researcher experience is considered. This experience is called 
	     <span data-bind="text: optimeringsInformation.viktNamn"></span>
	</span>
    
  </div>
	#{if !sparatSchema}
		This schedule's score is 
		${schedule.score.format('#.##')} 
		(1=ideal schedule, 0=worst possible).<br>
	#{/if}
	 <table class="table table-striped table-condensed">
	     <thead>
	         <tr>
		         #{list spår, as:'spårnr'}
		             <th>Room ${spårnr}</th>
			     #{/list}
	         </tr>
	     </thead>
	     <tbody>
	     	<!-- ko foreach: model.schema.sessioner -->
			<tr data-bind="sortable: { data: workshops,  connectClass:model.getUniqueConnectClass }" class="workshopz">
					<td>
						<b>
							<span data-bind="if: model.getFraga(frageId).ärLåstTillRum">
							<a href="#" title="Question is locked to this room"><i class="icon-lock"></i></a>
							</span>
							Question 
							<span data-bind="text: frageId"/> </span>
						</b>
						<ul data-bind="sortable: {data:forskare, beforeMove: model.verifyMoves}" class="unstyled">
							<li>
								<div data-bind="template: { name: 'forskar-template', data: model.getForskare($data) }"></div>
							</li>
						</ul>
						<a data-toggle="modal" data-bind="attr: {href:'#'+frageId}" >See full workshop</a>
						<div data-bind="attr: {id:frageId}" class="modal hide">
							<div data-bind="template: { name: 'modal-fraga-template'}"></div>
						</div>
					</td>
			</tr>
			<!-- /ko -->
			
		</tbody>
	 </table>
	 
	  <div id="dragWarningModal" class="modal hide">
	    <div class="modal-header">
	      Disallowed move <button type="button" class="close" data-dismiss="modal">&times;</button>
	    </div>
	    <div class="modal-body" data-bind="text: lastError">
	    </div>
	    <div class="modal-footer">
	      <a href="#" class="btn btn-primary" data-dismiss="modal">OK</a>
	    </div>
	  </div>
	 
	 	 
	#{if schedule.unplacedQuestions}
		<br>In this schedule we failed to place:
		#{list schedule.unplacedQuestions, as:'unplaced'}
		        Question ${unplaced.q}#{if unplaced.hasZeroAttendants}*#{/if}
		#{/list}<br>
		An asterisk (*) after a question indicates that the question does not have any researchers on its list.
		<p> 
	#{/if}
	<p>
	#{if schedule.unsatisfied}
		In this schedule the following
		(${schedule.unsatisfied.size} st) 
		participants were not placed in all their questions
		#{list schedule.unsatisfied, as:'un'}
		         <div "unsatisfied_participant">${un.participant.first_name} enrolled in ${un.wishedNumber} questions, 
		         was placed in  
		         ${un.assignedNumber} questions ${un.agenda} </div>
		#{/list}                        
	#{/if}
	<p>	
	To use this schedule as a starting point for the next schedule generation you may lock the entire schedule in place:
	<br>
	<form class="form-horizontal" action="" method="POST" data-bind="submit: model.låsAllt">
		<button type="submit" class="btn btn-primary" >Lock all questions and researchers to this schedule</button>		
	</form>
	
	
</section>
#{/if}
<section id="fragor">
  <div class="page-header">
    <h1>Questions</h1>
  </div>

	<table>
	    <thead>
	    </thead>
	    <tbody data-bind="foreach: model.fragor">
	        <tr>
	            <td data-bind="text: id"></td>
	            <td data-bind="text: cappadFråga"></td>
	            <td>
	            	<a href="#" data-bind="click: edit">Locked to session <span data-bind="text: låst"></a>
	            	<a href="#" data-bind="visible: ärLåst, click: removeLås"> (remove all session locks)</a> 
	            </td>
	            <td><select data-bind="visible: editing, hasfocus: editing, options: model.sessioner, selectedOptions: låst" multiple="true"></select></td>
	            <td data-bind="visible: ärLåstTillRum">
	            	<a href="#"> Locked to room  <span data-bind="text: låstaRum"> </a>
	             	<a href="#" data-bind="click: removeLåstRum"> (unlock from room)</a>
	            </td> 
	        </tr>
	    </tbody>
	</table>

</section>
<section id="forskare">
  <div class="page-header">
    <h1>Researchers</h1>
  </div>
	
	<table>
	    <thead>
	    </thead>
	    <tbody data-bind="foreach: model.forskare">
	        <tr>
	            <td>
					<div data-bind="template: { name: 'forskar-template' }"></div>
	            </td>
	            <td>
	            	<a href="#" data-bind="click: edit">Locked to session <span data-bind="text: låstaSessioner"></a>
	            	<a href="#" data-bind="visible: ärLåst, click: removeLås"> (remove all session locks)</a> 
	            </td>
	            <td><select data-bind="visible: editingSession, hasfocus: editingSession, options: model.sessioner, selectedOptions: låstaSessioner" multiple="true"></select></td>

	            <td>
	            	<a href="#" data-bind="click: editFraga">Locked to question <span data-bind="text: låstaFrågor"></a>
	            	<a href="#" data-bind="visible: ärLåstTillFråga, click: removeFrågeLås"> (remove all question locks)</a> 
	            </td>
	            <td><select data-bind="visible: editingFraga, hasfocus: editingFraga, options: frageIdn, selectedOptions: låstaFrågor" multiple="true"></select></td>
	            
	        </tr>
	    </tbody>
	</table>
</section>
	
<section id="generera">
  <div class="page-header">
    <h1></h1>
  </div>

	<form class="form-horizontal" action="@{Application.scheduleNew()}" method="POST" accept-charset="${_response_encoding}" data-bind="submit: model.generera">
	<fieldset>
	     <div class="control-group">
	     <label class="control-label" for="tracks">Number of rooms</label>
            <div class="controls">
	     <input type="text" name="tracks" id="tracks"  data-bind="value:scheduleRequest.tracks"/>
	     <span class="help-inline">At most this many rooms will be used at the same time in the generated schedule.
	     	The scheduler will try to use as few rooms as possible.
	     </span>
	     </div>
	     </div>

	     <div class="control-group">
	     <label class="control-label" for="sessions">Number of sessions</label>
            <div class="controls">
	     <input type="text" name="sessions" id="sessions" data-bind="value:scheduleRequest.sessions"/>
	     </div>

	     </div>

	     
	     <div class="control-group">
	     <label class="control-label" for="generations">Number of generations</label>
            <div class="controls">
	     <input type="text" name="generations" id="generations" data-bind="value:scheduleRequest.generations"/>
	     <span class="help-inline">How long should the scheduler look for a schedule? </span>
	     </div>
	     </div>

	     <div class="control-group">
	     <label class="control-label" for="placeWeight">Place weight</label>
            <div class="controls">
	     <input type="text" name="placeWeight" id="placeWeight" data-bind="value:scheduleRequest.placeWeight"/>
	     <span class="help-inline">How important is it that every question is in the schedule?</span>
	     </div>
	     </div>

	     <div class="control-group">
	     <label class="control-label">Question weight</label>
            <div class="controls">
	     <input type="text" name="wsWeight" id="wsWeight" data-bind="value:scheduleRequest.wsWeight"/>
	     <span class="help-inline">How important is it that each question has experienced participants?	     </span>
	     </div>
	     </div>

	     <div class="control-group">
	     <label class="control-label" for="agendaWeight">Researcher weight</label>
            <div class="controls">
	     <input type="text" name="agendaWeight" id="agendaWeight" data-bind="value:scheduleRequest.agendaWeight"/>
	     <span class="help-inline">How important is it that the researchers' wishes have been fulfilled?
	     </span>
              <p class="help-block">
              These weights are relative to each other so that a question weight of 1 and a researcher weight means 
              that keeping researchers happy is twice as important as filling every single question with experienced
              researchers.
              </p>
	     </div>
	     </div>
	     
	     <div class="control-group">
	     <label class="control-label">Maximum number	</label>
            <div class="controls">
		     <select name="max_antal_deltagare" data-bind="value:scheduleRequest.maxAntalDeltagare">
			  <option value="100">no limit</option>
			  <option value="10">10 participants</option>
			  <option value="11">11 participants</option>
			  <option value="12">12 participants</option>
			</select>
	     <span class="help-inline">
	     	How many participants (researchers + company reps) should each workshop at most have?
	     </span>
	     </div>
	     </div>

	     <div class="control-group">
	     <label class="control-label">Minimum number</label>
            <div class="controls">
		     <select name="min_antal_deltagare" data-bind="value:scheduleRequest.minAntalDeltagare">
			  <option value="1">1 researcher</option>
			  <option value="2">2 researchers</option>
			  <option value="3">3 researchers</option>
			  <option value="4">4 researchers</option>
			</select>
	     <span class="help-inline">For a question to be scheduled it needs at least this many researchers
	     </span>
	     </div>
	     </div>

	     <input type="hidden" data-bind="value: model.genereradJson" name="json"></input>
	     <br>
		<button type="submit" class="btn btn-primary" >Generate new schedule</button>
		</fieldset>
		
	 </form>
</section>
</div>
<div class="navbar navbar-fixed-bottom" data-bind="visible: !sparat()">
  <div class="navbar-inner">
    <div class="container">
	    <a class="brand" href="#">This schedule has unsaved changes. </a>
		<form class="form-horizontal" action="${postback_url}" method="POST" data-bind="submit: model.generera">
			<input type="hidden" data-bind="value: model.genereradJson" name="json"></input>
			<button type="submit" class="btn btn-primary" >Save schedule</button>		
		</form>
    </div>
  </div>
</div>


<script type="text/html" id="forskar-template">
	<span data-bind="if: harVikt">
	<a href="#" title="This researcher is marked as having specific experience for this aimday."><i class="icon-flag"></i></a>
	</span>
	<span data-bind="if: joker">
	<a href="#" title="This researcher is a joker/wild card and will be placed last of all in questions that need more
	experience 
	"><i class="icon-star"></i></a></span>
	<span data-bind="text: namn"></span>, <span data-bind="text: model.getGrad(grad)"> </span>&nbsp<span data-bind="text: kontakt().avdelning"></span> 
</script>

<script type="text/html" id="rep-template">
	<span data-bind="text: namn"></span>,  <span data-bind="text: kontakt().org"></span> 
</script>

<script type="text/html" id="modal-fraga-template">
    <div class="modal-header">
      Question <span data-bind="text: frageId"></span>: 
      <span data-bind="text: model.getFraga(frageId).fråga"></span>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
		<ul data-bind="foreach: forskare" class="unstyled">
			<li>
				<div data-bind="template: { name: 'forskar-template', data: model.getForskare($data) }"></div>
			</li>
		</ul>
		<ul data-bind="foreach: foretagsrepresentanter" class="unstyled">
			<li>
				<div data-bind="template: { name: 'rep-template', data: model.getRep($data) }"></div>
			</li>
		</ul>
    </div>
    <div class="modal-footer">
    	<a href="#" class="btn btn-primary" data-dismiss="modal">OK</a>
    </div>
</script>


<div id="helpModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create a schedule for your Aimday</h3>
  </div>
  <div class="modal-body">
    Creating an aimday schedule is about meeting conflicting needs: <br> 
    Is it more important to fit many questions in your aimday, to fill the schedule with many workshops? Or would you 
    rather ensure that the workshops are well attended by experienced researchers? Or maybe it is most important that 
    the researchers wishes are fulfilled so that they always be placed in their top priority questions...
    <p>
    <p>
    There is no one <b>right</b> schedule so depending on what you think is important this tool helps you generate a schedule
    that fits <b>your</b> choices. This schedule is your starting point - from it you are free to rearrange 
    questions (try drag-and-drop!) and participants and even add more questions or researchers if needed. 
	<p>
	See the <a href="#">aimday handbook</a> for more details.    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


<script type="text/javascript">


	var json = ${json.raw()};
	var model = new KonferensModel();
	model.id = json.id;
	model.namn = json.namn;
	model.optimeringsInformation = json.optimeringsInformation;
	model.senioritetsgrader = json.senioritetsgrader;
	if (json.scheduleRequest === undefined){
		model.scheduleRequest = {tracks:10, sessions:5, generations:1000, placeWeight:10, wsWeight:10, agendaWeight:10,
		 maxAntalDeltagare:100, minAntalDeltagare:1};
	} else {
		model.scheduleRequest = json.scheduleRequest;
	}
	
	var finnsEttSchemaAttSpara = json.schema != null && json.schema.sessioner != null
	if (finnsEttSchemaAttSpara){
		model.schema = new Schema(json.schema);
		model.sparat(json.schema.sparat);
	}
	model.postback_url = json.postback_url;

	for (var i = 0; i < json.foretagsrepresentanter.length; i++) {
	    var f = json.foretagsrepresentanter[i];
		model.foretagsrepresentanter.push(new Foretagsrepresentant(f));
	}
	var ändrat = function(){
		if (finnsEttSchemaAttSpara){
			model.sparat(false);
		}
	}
	for (var i = 0; i < json.fragor.length; i++) {
	    var f = json.fragor[i];
	    var fraga = new Fråga(f);
	    fraga.låst.subscribe(ändrat);
		model.fragor.push(fraga);
	}
	for (var i = 0; i < json.forskare.length; i++) {
	    var f = new Forskare(json.forskare[i]);
	    f.låstaSessioner.subscribe(ändrat);
	    f.låstaFrågor.subscribe(ändrat);
		model.forskare.push(f);
	}
	
	ko.applyBindings(model);
	

    function Schema(s){
    	var self = this;
		self.sessioner = ko.observableArray();
		for (var i = 0; i < s.sessioner.length; i++) {
		    var session = s.sessioner[i];
			self.sessioner.push(new Session(session));
		}
		self.getSessionFörFråga = function(frageId){
        	var hittadSession = ko.utils.arrayFirst(self.sessioner(), function(s) {
	            return (s.harFrageId(frageId));
	        });
	        return hittadSession;
        }
		
    }
    
    function Session(s){
    	var self = this;
		self.workshops = ko.observableArray();
		for (var i = 0; i < s.workshops.length; i++) {
		    var workshop = s.workshops[i];
			self.workshops.push(new Workshop(workshop));
		}
		
		self.harFrageId = function(frageId){
			var hittadeFråga = false;
			ko.utils.arrayForEach(self.workshops(), function(workshop){
				if (workshop.frageId === frageId){
					hittadeFråga = true;
				}
			});
			return hittadeFråga;
		}
		
		self.harNågonWorkshopMedForskare = function(forskarId){
        	return ko.utils.arrayFirst(self.workshops(), function(workshop) {
	            return (workshop.besöksAv(forskarId));
	        });
        }
    }
    
    function Workshop(s){
    	var self = this;
    	self.frageId = s.frageId;
		self.forskare = ko.observableArray();
		self.forskare.id = s.frageId;
		self.foretagsrepresentanter = s.foretagsrepresentanter;
		for (var i = 0; i < s.forskare.length; i++) {
		    var f = s.forskare[i];
			self.forskare.push(f);
		}
		self.besöksAv = function(forskarId){
        	return ko.utils.arrayFirst(self.forskare(), function(f) {
	            return (f === forskarId);
	        });
        }
    }
    
    function Fråga(f){
    	var self = this;
    	self.id = ko.observable(f.id);
    	self.fråga = ko.observable(f.fråga);
    	self.låst = ko.observableArray(f.låst);
    	self.låstaRum = ko.observableArray();

	    self.editing = ko.observable(false);
	    self.edit = function() { this.editing(true); }
	    
	    self.cappadFråga = ko.computed(function(){
	    	if (self.fråga().length < 140){
	    		return self.fråga();
	    	}
	    	return self.fråga().slice(0,140) + "...";
	    }, this);
	    self.ärLåst = ko.computed(function(){return self.låst() != null && self.låst().length > 0;}, this);
	    self.ärLåstTillRum = ko.computed(function(){return self.låstaRum() != null && self.låstaRum().length > 0;}, this);
		self.removeLås = function(formElement) {
			self.låst.removeAll();
        }
        
        self.removeLåstRum = function(formElement){
        	self.låstaRum.removeAll();
        }
    }
    
    function Foretagsrepresentant(f){
    	var self = this;
    	self.id = ko.observable(f.id);
    	self.kontakt = ko.observable(f.kontakt);
    	self.namn = ko.computed(function(){return self.kontakt().fornamn + " " + self.kontakt().efternamn;}, this);
    	self.frågor = f.frågor;
    }

    function Forskare(f){
    	var self = this;
    	self.id = ko.observable(f.id);
    	if (f.harVikt){
	    	self.harVikt = ko.observable(f.harVikt);
	    } else {
	    	if (f.harVikt === undefined){
		    	console.log("Men va faaan!"+f.id);
		    	}
	    	self.harVikt = ko.observable(false);
	    }
    	self.kontakt = ko.observable(f.kontakt);
    	self.namn = ko.computed(function(){return self.kontakt().fornamn.charAt(0) +'.' + " " + self.kontakt().efternamn;}, this);
    	self.grad = f.grad;
    	self.joker = f.joker;
    	self.frågor = f.frågor;
    	self.låstaSessioner = ko.observableArray(f.låstaSessioner);
        self.frageIdn = ko.observableArray();
		for (var i = 0; i < f.frågor.length; i++) {
	    	self.frageIdn.push(f.frågor[i]);
		}
    	self.låstaFrågor = ko.observableArray(f.låstaFrågor);
        
        
	    self.editingSession = ko.observable(false);
	    self.edit = function() { this.editingSession(true); }
	    self.ärLåst = ko.computed(function(){return self.låstaSessioner() != null && self.låstaSessioner().length > 0;}, this);
		self.removeLås = function(formElement) {
			self.låstaSessioner.removeAll();
        }

	    self.editingFraga = ko.observable(false);
	    self.editFraga = function() { this.editingFraga(true); }
    	self.ärLåstTillFråga = ko.computed(function(){return self.låstaFrågor() != null && self.låstaFrågor().length > 0;}, this);
		self.removeFrågeLås = function(formElement) {
			self.låstaFrågor.removeAll();
        }
	    
    }
    
    function KonferensModel(){
    	var self = this;
		self.sessioner = [1,2,3,4,5,6]; // Antar att vi bara tillåter så här många sessioner
    	self.fragor = ko.observableArray();
    	self.forskare = ko.observableArray();
    	self.foretagsrepresentanter = ko.observableArray();
		self.genereradJson = ko.observable();
		this.lastError = ko.observable();
		self.sparat = ko.observable(true);

		self.låsAllt = function(formElement){
			
			if (self.schema === null){
				return false;
			}
			self.sparat(false);
			for(var i = 0; i < self.schema.sessioner().length; i++){
				var session = self.schema.sessioner()[i];
				var rumsNummer = 1;
				ko.utils.arrayForEach(session.workshops(), function(workshop){
					self.låsFrågaTillSessionOchRum(workshop.frageId, i+1, rumsNummer);
					ko.utils.arrayForEach(workshop.forskare(), function(forskare){
						self.låsForskareTillFråga(forskare, workshop.frageId);
					});
					rumsNummer++;
				});
			}
			return false;
		}
		
		self.låsFrågaTillSessionOchRum = function(frågeId, sessionsId, rumsNummer){
			console.log("Låser fråga " + frågeId + " till session " + sessionsId + " och rum " + rumsNummer);
			var låstaSessioner = self.getFraga(frågeId).låst;
			låstaSessioner.removeAll();
			låstaSessioner.push(sessionsId);
			var låstaRum = self.getFraga(frågeId).låstaRum;
			låstaRum.removeAll();
			låstaRum.push(rumsNummer);
		}
		self.låsForskareTillFråga = function(forskarId, frågeId){
			console.log("Låser forskare " + forskarId + " till fråga " + frågeId);
			var låstaFrågor = self.getForskare(forskarId).låstaFrågor;
			låstaFrågor.remove(frågeId);
			låstaFrågor.push(frågeId);
		}

		// när generera-knappen trycks så måste vi plocka ut de ändringar som gjorts (låsningar) och
		// skicka med dem till servern
		self.generera = function(formElement) {
		
			var frågelås = [];
			var frågerumslås = [];
			for (var i = 0; i < self.fragor().length; i++) {
				var fråga = self.fragor()[i];
				if (fråga.ärLåst()){
					var låstFråga = {id:fråga.id(), låsttill:fråga.låst()};
					frågelås.push(låstFråga);
				}
				if (fråga.ärLåstTillRum()){
					var låstFråga = {id:fråga.id(), låsttill:fråga.låstaRum()};
					frågerumslås.push(låstFråga);
				}
			}
			
			var forskarFrågeLås = [];
			var forskarTidLås = [];
			for (var i=0; i<self.forskare().length; i++){
				var forskare = self.forskare()[i];
				if(forskare.ärLåstTillFråga()){
					var låstForskare = {id: forskare.id(), låsttill:forskare.låstaFrågor()};
					forskarFrågeLås.push(låstForskare);
				}
				if(forskare.ärLåst()){
					var låstForskare = {id: forskare.id(), låsttill:forskare.låstaSessioner()};
					forskarTidLås.push(låstForskare);
				}
			}
			
			self.låsningar = {frågesessionslås:frågelås, frågerumslås:frågerumslås, forskarfrågelås:forskarFrågeLås, forskarsessionslås:forskarTidLås};		
			var newJson = ko.toJSON(self);
			self.genereradJson(newJson);
			
			console.log(newJson);
			return true;
        }
        
        self.getForskare = function(id){
        	return ko.utils.arrayFirst(self.forskare(), function(f) {
	            return (f.id() === id);
	        });
        	console.log("failed to find forskare with id " + id);
        }
        
        self.getRep = function(id){
        	return ko.utils.arrayFirst(self.foretagsrepresentanter(), function(f) {
	            return (f.id() === id);
	        });
        	console.log("failed to find foretagsrepresentant with id " + id);
        }
        
        self.getGrad = function(grad){
        	return self.senioritetsgrader[grad-1];
        }
        
        self.getFraga = function(frageId){
        	return ko.utils.arrayFirst(self.fragor(), function(f) {
	            return (f.id() === frageId);
	        });
        }
        
        this.verifyMoves = function(arg) {
        	console.log(arg);
	        console.log("Trying to move scientist " + arg.item + " from " + arg.sourceParent.id + " to " + arg.targetParent.id);
	        
	        if (arg.sourceParent().length<2){
                self.lastError("Can't move the last researcher in the workshop!");	        
                arg.cancelDrop = true;	        	
	        }
	        if (arg.targetParent.indexOf(arg.item) >= 0){
                self.lastError("The researcher is already in the workshop!");
                arg.cancelDrop = true;	        	
	        }

	        // ingen fråga parallell med till-frågan innehåller forskaren
	        var sessionViFlyttarTill = self.schema.getSessionFörFråga(arg.targetParent.id);
	        var sessionViFlyttarFrån = self.schema.getSessionFörFråga(arg.sourceParent.id);
	        if (sessionViFlyttarTill !== sessionViFlyttarFrån){
		        if (sessionViFlyttarTill.harNågonWorkshopMedForskare(arg.item)){
		        	self.lastError("The researcher is already placed in a workshop that session!");
		        	arg.cancelDrop = true;
		        }
		    }
	        
	        // flasha om det gick fel inkl anledning:
	        if (arg.cancelDrop){
	        	$('#dragWarningModal').modal('show')
	        } else {
   				self.sparat(false);
	        }
    };
    }
	
</script>	