#{extends 'main.html' /}

		Ditt schema håller på att genereras. När schemat är färdigt finns det 
		<a href="@{Application.schedule()}?id=${randomId}">här.</a>
		<br>
		
<p>Ditt schema är <span data-bind="text:progress"></span>% klart
 
<script type="text/javascript">
    var viewModel = {
        progress: ko.observable()
    };
    viewModel.progress(0);
    ko.applyBindings(viewModel);
    
    setInterval(timer, 500);

	function timer( )
	{
		var progress = $.get("progress?id=${randomId}", function(data){
			viewModel.progress(data);
			if (data === 100){
				window.location = "@{Application.schedule()}?id=${randomId}";
			}
		});
		
	}
    
    
</script>