#{extends 'main.html' /}
#{set title:'Home' /}

#{if hittadeFel}
	Varning: det här schemat innehåller fel! Följande fel hittades: 
     #{list fel, as:'felet'}
         ${felet}<br>
     #{/list}
#{/if}

#{if schedule}
	
<section id="schema">
  <div class="page-header">
    <h1>
  	#{if sparatSchema}
  		Sparat schema
	#{/if}
  	#{else}
  		Optimerat schema (ännu inte sparat)
	#{/else}
  
    för <span data-bind="text: namn"/></h1>
    <span data-bind="if: optimeringsInformation.anvandVikter">
	    Vid optimering av det här schemat används viktning, dvs hänsyn tas till att forskare <span data-bind="text: optimeringsInformation.viktNamn"></span>
	</span>
    
  </div>
	#{if !sparatSchema}
		Det här schemats poäng är ${schedule.score.format('#.##')} (1=idealt schema, 0=sämst tänkbara).<br>
	#{/if}
	 <table class="table table-striped table-condensed">
	     <thead>
	         <tr>
		         #{list spår, as:'spårnr'}
		             <th>Rum ${spårnr}</th>
			     #{/list}
	         </tr>
	     </thead>
	     <tbody>
	     	<!-- ko foreach: model.schema.sessioner -->
			<tr data-bind="sortable: { data: workshops,  connectClass:model.getUniqueConnectClass }" class="workshopz">
					<td>
						<b>Fråga <span data-bind="text: frageId"></b>
						<ul data-bind="sortable: {data:forskare, beforeMove: model.verifyMoves}" class="unstyled">
							<li>
								<div data-bind="template: { name: 'forskar-template', data: model.getForskare($data) }"></div>
							</li>
						</ul>
						<a data-toggle="modal" data-bind="attr: {href:'#'+frageId}" >Se hela frågan</a>
						<div data-bind="attr: {id:frageId}" class="modal hide">
							<div data-bind="template: { name: 'modal-fraga-template'}"></div>
						</div>
					</td>
			</tr>
			<!-- /ko -->
			
		</tbody>
	 </table>
	 
	  <div id="dragWarningModal" class="modal hide">
	    <div class="modal-header">
	      Kan inte flytta <button type="button" class="close" data-dismiss="modal">&times;</button>
	    </div>
	    <div class="modal-body" data-bind="text: lastError">
	    </div>
	    <div class="modal-footer">
	      <a href="#" class="btn btn-primary" data-dismiss="modal">OK</a>
	    </div>
	  </div>
	 
	 	 
	#{if schedule.unplacedQuestions}
		<br>I det här schemat misslyckades vi att placera ut:
		#{list schedule.unplacedQuestions, as:'unplaced'}
		        Fråga ${unplaced.q}#{if unplaced.hasZeroAttendants}*#{/if}
		#{/list}<br>
		En eventuell asterisk (*) efter en fråga betyder att den frågan inte har någon forskare anmäld till sig. <p> 
	#{/if}
	<p>
	#{if schedule.unsatisfied}
		I det här schemat fick följande (${schedule.unsatisfied.size} st) deltagare inte vara med på hela sin önskelista:
		#{list schedule.unsatisfied, as:'un'}
		         <div "unsatisfied_participant">${un.participant.first_name} önskade ${un.wishedNumber} st, fick se 
		         ${un.assignedNumber} st ${un.agenda} </div>
		#{/list}                        
	#{/if}
	<p>
	#{if !sparatSchema}
		Om du är nöjd med det här schemat så kan du spara det:<br>
		<form class="form-horizontal" action="${postback_url}" method="POST" data-bind="submit: model.generera">
			<input type="hidden" data-bind="value: model.genereradJson" name="json"></input>
			<button type="submit" class="btn btn-primary" >Spara schema</button>		
		</form>
	#{/if}
	
	#{if sparatSchema}
	
		Om du vill utgå från det här schemat och lägga till nya frågor eller forskare så kan du låsa hela schemat innan du gör en ny optimering: 
		<br>
		<form class="form-horizontal" action="" method="POST" data-bind="submit: model.låsAllt">
			<button type="submit" class="btn btn-primary" >Lås frågor och forskare till detta schema</button>		
		</form>
	#{/if}
	
	
</section>
#{/if}
<section id="fragor">
  <div class="page-header">
    <h1>Frågor</h1>
  </div>

	<table>
	    <thead>
	    </thead>
	    <tbody data-bind="foreach: model.fragor">
	        <tr>
	            <td data-bind="text: id"></td>
	            <td data-bind="text: cappadFråga"></td>
	            <td data-bind="visible: !editing()">
	            	<a href="#" data-bind="click: edit">Låst till session <span data-bind="text: låst"></a>
	            	<a href="#" data-bind="visible: ärLåst, click: removeLås"> (ta bort alla sessionslås)</a> 
	            </td>
	            <td><select data-bind="visible: editing, hasfocus: editing, options: model.sessioner, selectedOptions: låst" multiple="true"></select></td>
	        </tr>
	    </tbody>
	</table>

</section>
<section id="forskare">
  <div class="page-header">
    <h1>Forskare</h1>
  </div>
	
	<table>
	    <thead>
	    </thead>
	    <tbody data-bind="foreach: model.forskare">
	        <tr>
	            <td>
					<div data-bind="template: { name: 'forskar-template' }"></div>
	            </td>
	            <td data-bind="visible: !editingSession()">
	            	<a href="#" data-bind="click: edit">Låst till session <span data-bind="text: låstaSessioner"></a>
	            	<a href="#" data-bind="visible: ärLåst, click: removeLås"> (ta bort alla sessionslås)</a> 
	            </td>
	            <td><select data-bind="visible: editingSession, hasfocus: editingSession, options: model.sessioner, selectedOptions: låstaSessioner" multiple="true"></select></td>

	            <td data-bind="visible: !editingFraga()">
	            	<a href="#" data-bind="click: editFraga">Låst till fråga <span data-bind="text: låstaFrågor"></a>
	            	<a href="#" data-bind="visible: ärLåstTillFråga, click: removeFrågeLås"> (ta bort alla frågelås)</a> 
	            </td>
	            <td><select data-bind="visible: editingFraga, hasfocus: editingFraga, options: frageIdn, selectedOptions: låstaFrågor" multiple="true"></select></td>
	            
	        </tr>
	    </tbody>
	</table>
</section>
	
<section id="generera">
  <div class="page-header">
    <h1></h1>
  </div>

	<form class="form-horizontal" action="@{Application.scheduleNew()}" method="POST" accept-charset="${_response_encoding}" data-bind="submit: model.generera">
	<fieldset>
	     <div class="control-group">
	     <label class="control-label" for="tracks">Antal parallella spår</label>
            <div class="controls">
	     <input type="text" name="tracks" id="tracks"  data-bind="value:scheduleRequest.tracks"/>
	     </div>
	     </div>

	     <div class="control-group">
	     <label class="control-label" for="sessions">Antal sessioner</label>
            <div class="controls">
	     <input type="text" name="sessions" id="sessions" data-bind="value:scheduleRequest.sessions"/>
	     </div>

	     </div>

	     
	     <div class="control-group">
	     <label class="control-label" for="generations">Antal generationer</label>
            <div class="controls">
	     <input type="text" name="generations" id="generations" data-bind="value:scheduleRequest.generations"/>
	     </div>
	     </div>

	     <div class="control-group">
	     <label class="control-label" for="placeWeight">Utplaceringsvikt</label>
            <div class="controls">
	     <input type="text" name="placeWeight" id="placeWeight" data-bind="value:scheduleRequest.placeWeight"/>
	     <span class="help-inline">Hur viktigt är det att varje fråga är utplacerad?</span>
	     </div>
	     </div>

	     <div class="control-group">
	     <label class="control-label">Frågevikt</label>
            <div class="controls">
	     <input type="text" name="wsWeight" id="wsWeight" data-bind="value:scheduleRequest.wsWeight"/>
	     <span class="help-inline">Hur viktigt är det att varje fråga har fyllts med erfarna deltagare?</span>
	     </div>
	     </div>

	     <div class="control-group">
	     <label class="control-label" for="agendaWeight">Forskarvikt</label>
            <div class="controls">
	     <input type="text" name="agendaWeight" id="agendaWeight" data-bind="value:scheduleRequest.agendaWeight"/>
	     <span class="help-inline">Hur viktigt är det att uppfylla forskarnas önskemål?</span>
              <p class="help-block">Vikterna är relativt varandra, så om du t ex sätter frågevikt 1 och forskarvikt 2 betyder det att det är dubbelt så viktigt att forskarnas önskemål uppfyllts än att frågor fyllts med erfarna forskare</p>
	     </div>
	     </div>
	     
	     <div class="control-group">
	     <label class="control-label">Max antal</label>
            <div class="controls">
		     <select name="max_antal_deltagare" data-bind="value:scheduleRequest.maxAntalDeltagare">
			  <option value="100">ingen begränsning</option>
			  <option value="10">10 deltagare</option>
			  <option value="11">11 deltagare</option>
			  <option value="12">12 deltagare</option>
			</select>
	     <span class="help-inline">Hur många deltagare (forskare + företagsrepresentanter) får varje workshop ha som mest?</span>
	     </div>
	     </div>

	     <div class="control-group">
	     <label class="control-label">Minimi-antal</label>
            <div class="controls">
		     <select name="min_antal_deltagare" data-bind="value:scheduleRequest.minAntalDeltagare">
			  <option value="0">inget minimi-antal</option>
			  <option value="2">2 forskare</option>
			  <option value="3">3 forskare</option>
			  <option value="4">4 forskare</option>
			</select>
	     <span class="help-inline">Minsta antal forskare som måste delta på frågan för att den skall schemaläggas</span>
	     </div>
	     </div>

	     <input type="hidden" data-bind="value: model.genereradJson" name="json"></input>
	     <br>
		<button type="submit" class="btn btn-primary" >Generera nytt schema</button>
		</fieldset>
		
	 </form>
</section>

<script type="text/html" id="forskar-template">
	<span data-bind="if: harVikt">
	<a href="#" title="Den här forskaren är markerad att ha specifik kompetens för den här konferensen (har vikt som används i optimeringen)"><i class="icon-flag"></i></a></span>
	<span data-bind="if: joker">
	<a href="#" title="Den här forskaren är joker och placeras ut sist av alla på de frågor som behöver mer kompetens"><i class="icon-star"></i></a></span>
	<span data-bind="text: namn"></span>, <span data-bind="text: model.getGrad(grad)"> </span>&nbsp<span data-bind="text: kontakt().avdelning"></span> 
</script>

<script type="text/html" id="rep-template">
	<span data-bind="text: namn"></span>,  <span data-bind="text: kontakt().org"></span> 
</script>

<script type="text/html" id="modal-fraga-template">
    <div class="modal-header">
      Fråga <span data-bind="text: frageId"></span>: 
      <span data-bind="text: model.getFraga(frageId).fråga"></span>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
		<ul data-bind="foreach: forskare" class="unstyled">
			<li>
				<div data-bind="template: { name: 'forskar-template', data: model.getForskare($data) }"></div>
			</li>
		</ul>
		<ul data-bind="foreach: foretagsrepresentanter" class="unstyled">
			<li>
				<div data-bind="template: { name: 'rep-template', data: model.getRep($data) }"></div>
			</li>
		</ul>
    </div>
    <div class="modal-footer">
    	<a href="#" class="btn btn-primary" data-dismiss="modal">OK</a>
    </div>
</script>


<script type="text/javascript">


	var json = ${json.raw()};
	var model = new KonferensModel();
	model.id = json.id;
	model.namn = json.namn;
	model.optimeringsInformation = json.optimeringsInformation;
	model.senioritetsgrader = json.senioritetsgrader;
	if (json.scheduleRequest === undefined){
		model.scheduleRequest = {tracks:10, sessions:5, generations:1973, placeWeight:10, wsWeight:10, agendaWeight:10,
		 maxAntalDeltagare:100, minAntalDeltagare:1};
	} else {
		model.scheduleRequest = json.scheduleRequest;
	}
	
	if (json.schema != null && json.schema.sessioner != null){
		model.schema = new Schema(json.schema);
	}
	model.postback_url = json.postback_url;

	for (var i = 0; i < json.foretagsrepresentanter.length; i++) {
	    var f = json.foretagsrepresentanter[i];
		model.foretagsrepresentanter.push(new Foretagsrepresentant(f));
	}
	for (var i = 0; i < json.fragor.length; i++) {
	    var f = json.fragor[i];
		model.fragor.push(new Fråga(f));
	}
	for (var i = 0; i < json.forskare.length; i++) {
	    var f = json.forskare[i];
		model.forskare.push(new Forskare(f));
	}
	ko.applyBindings(model);
	

    function Schema(s){
    	var self = this;
		self.sessioner = ko.observableArray();
		for (var i = 0; i < s.sessioner.length; i++) {
		    var session = s.sessioner[i];
			self.sessioner.push(new Session(session));
		}
		self.getSessionFörFråga = function(frageId){
        	var hittadSession = ko.utils.arrayFirst(self.sessioner(), function(s) {
	            return (s.harFrageId(frageId));
	        });
	        return hittadSession;
        }
		
    }
    
    function Session(s){
    	var self = this;
		self.workshops = ko.observableArray();
		for (var i = 0; i < s.workshops.length; i++) {
		    var workshop = s.workshops[i];
			self.workshops.push(new Workshop(workshop));
		}
		
		self.harFrageId = function(frageId){
			var hittadeFråga = false;
			ko.utils.arrayForEach(self.workshops(), function(workshop){
				if (workshop.frageId === frageId){
					hittadeFråga = true;
				}
			});
			return hittadeFråga;
		}
		
		self.harNågonWorkshopMedForskare = function(forskarId){
        	return ko.utils.arrayFirst(self.workshops(), function(workshop) {
	            return (workshop.besöksAv(forskarId));
	        });
        }
    }
    
    function Workshop(s){
    	var self = this;
    	self.frageId = s.frageId;
		self.forskare = ko.observableArray();
		self.forskare.id = s.frageId;
		self.foretagsrepresentanter = s.foretagsrepresentanter;
		for (var i = 0; i < s.forskare.length; i++) {
		    var f = s.forskare[i];
			self.forskare.push(f);
		}
		self.besöksAv = function(forskarId){
        	return ko.utils.arrayFirst(self.forskare(), function(f) {
	            return (f === forskarId);
	        });
        }
    }
    
    function Fråga(f){
    	var self = this;
    	self.id = ko.observable(f.id);
    	self.fråga = ko.observable(f.fråga);
    	self.låst = ko.observableArray(f.låst);
    	self.låstaRum = ko.observableArray();

	    self.editing = ko.observable(false);
	    self.edit = function() { this.editing(true); }
	    
	    self.cappadFråga = ko.computed(function(){
	    	if (self.fråga().length < 140){
	    		return self.fråga();
	    	}
	    	return self.fråga().slice(0,140) + "...";
	    }, this);
	    self.ärLåst = ko.computed(function(){return self.låst() != null && self.låst().length > 0;}, this);
	    self.ärLåstTillRum = ko.computed(function(){return self.låstaRum() != null && self.låstaRum().length > 0;}, this);
		self.removeLås = function(formElement) {
			self.låst.removeAll();
        }
    }
    
    function Foretagsrepresentant(f){
    	var self = this;
    	self.id = ko.observable(f.id);
    	self.kontakt = ko.observable(f.kontakt);
    	self.namn = ko.computed(function(){return self.kontakt().fornamn + " " + self.kontakt().efternamn;}, this);
    	self.frågor = f.frågor;
    }

    function Forskare(f){
    	var self = this;
    	self.id = ko.observable(f.id);
    	if (f.harVikt){
	    	self.harVikt = ko.observable(f.harVikt);
	    } else {
	    	if (f.harVikt === undefined){
		    	console.log("Men va faaan!"+f.id);
		    	}
	    	self.harVikt = ko.observable(false);
	    }
    	self.kontakt = ko.observable(f.kontakt);
    	self.namn = ko.computed(function(){return self.kontakt().fornamn.charAt(0) +'.' + " " + self.kontakt().efternamn;}, this);
    	self.grad = f.grad;
    	self.joker = f.joker;
    	self.frågor = f.frågor;
    	self.låstaSessioner = ko.observableArray(f.låstaSessioner);
        self.frageIdn = ko.observableArray();
		for (var i = 0; i < f.frågor.length; i++) {
	    	self.frageIdn.push(f.frågor[i]);
		}
    	self.låstaFrågor = ko.observableArray(f.låstaFrågor);
        
        
	    self.editingSession = ko.observable(false);
	    self.edit = function() { this.editingSession(true); }
	    self.ärLåst = ko.computed(function(){return self.låstaSessioner() != null && self.låstaSessioner().length > 0;}, this);
		self.removeLås = function(formElement) {
			self.låstaSessioner.removeAll();
        }

	    self.editingFraga = ko.observable(false);
	    self.editFraga = function() { this.editingFraga(true); }
    	self.ärLåstTillFråga = ko.computed(function(){return self.låstaFrågor() != null && self.låstaFrågor().length > 0;}, this);
		self.removeFrågeLås = function(formElement) {
			self.låstaFrågor.removeAll();
        }
	    
    }
    
    function KonferensModel(){
    	var self = this;
		self.sessioner = [1,2,3,4,5,6]; // Antar att vi bara tillåter så här många sessioner
    	self.fragor = ko.observableArray();
    	self.forskare = ko.observableArray();
    	self.foretagsrepresentanter = ko.observableArray();
		self.genereradJson = ko.observable();
		this.lastError = ko.observable();

		self.låsAllt = function(formElement){
			if (self.schema === null){
				return false;
			}
			for(var i = 0; i < self.schema.sessioner().length; i++){
				var session = self.schema.sessioner()[i];
				var rumsNummer = 1;
				ko.utils.arrayForEach(session.workshops(), function(workshop){
					self.låsFrågaTillSessionOchRum(workshop.frageId, i+1, rumsNummer);
					ko.utils.arrayForEach(workshop.forskare(), function(forskare){
						self.låsForskareTillFråga(forskare, workshop.frageId);
					});
					rumsNummer++;
				});
			}
			return false;
		}
		
		self.låsFrågaTillSessionOchRum = function(frågeId, sessionsId, rumsNummer){
			console.log("Låser fråga " + frågeId + " till session " + sessionsId + " och rum " + rumsNummer);
			var låstaSessioner = self.getFraga(frågeId).låst;
			låstaSessioner.removeAll();
			låstaSessioner.push(sessionsId);
			var låstaRum = self.getFraga(frågeId).låstaRum;
			låstaRum.removeAll();
			låstaRum.push(rumsNummer);
		}
		self.låsForskareTillFråga = function(forskarId, frågeId){
			console.log("Låser forskare " + forskarId + " till fråga " + frågeId);
			var låstaFrågor = self.getForskare(forskarId).låstaFrågor;
			låstaFrågor.remove(frågeId);
			låstaFrågor.push(frågeId);
		}

		// när generera-knappen trycks så måste vi plocka ut de ändringar som gjorts (låsningar) och
		// skicka med dem till servern
		self.generera = function(formElement) {
		
			var frågelås = [];
			var frågerumslås = [];
			for (var i = 0; i < self.fragor().length; i++) {
				var fråga = self.fragor()[i];
				if (fråga.ärLåst()){
					var låstFråga = {id:fråga.id(), låsttill:fråga.låst()};
					frågelås.push(låstFråga);
				}
				if (fråga.ärLåstTillRum()){
					var låstFråga = {id:fråga.id(), låsttill:fråga.låstaRum()};
					frågerumslås.push(låstFråga);
				}
			}
			
			var forskarFrågeLås = [];
			var forskarTidLås = [];
			for (var i=0; i<self.forskare().length; i++){
				var forskare = self.forskare()[i];
				if(forskare.ärLåstTillFråga()){
					var låstForskare = {id: forskare.id(), låsttill:forskare.låstaFrågor()};
					forskarFrågeLås.push(låstForskare);
				}
				if(forskare.ärLåst()){
					var låstForskare = {id: forskare.id(), låsttill:forskare.låstaSessioner()};
					forskarTidLås.push(låstForskare);
				}
			}
			
			self.låsningar = {frågesessionslås:frågelås, frågerumslås:frågerumslås, forskarfrågelås:forskarFrågeLås, forskarsessionslås:forskarTidLås};		
			var newJson = ko.toJSON(self);
			self.genereradJson(newJson);
			
			console.log(newJson);
			return true;
        }
        
        self.getForskare = function(id){
        	return ko.utils.arrayFirst(self.forskare(), function(f) {
	            return (f.id() === id);
	        });
        	console.log("failed to find forskare with id " + id);
        }
        
        self.getRep = function(id){
        	return ko.utils.arrayFirst(self.foretagsrepresentanter(), function(f) {
	            return (f.id() === id);
	        });
        	console.log("failed to find foretagsrepresentant with id " + id);
        }
        
        self.getGrad = function(grad){
        	return self.senioritetsgrader[grad-1];
        }
        
        self.getFraga = function(frageId){
        	return ko.utils.arrayFirst(self.fragor(), function(f) {
	            return (f.id() === frageId);
	        });
        }
        
        this.verifyMoves = function(arg) {
        	console.log(arg);
	        console.log("Trying to move scientist " + arg.item + " from " + arg.sourceParent.id + " to " + arg.targetParent.id);
	        
	        if (arg.sourceParent().length<2){
                self.lastError("Kan inte flytta sista forskaren i frågan!");	        
                arg.cancelDrop = true;	        	
	        }
	        if (arg.targetParent.indexOf(arg.item) >= 0){
                self.lastError("Forskaren är redan i den frågan!");	        
                arg.cancelDrop = true;	        	
	        }

	        // ingen fråga parallell med till-frågan innehåller forskaren
	        var sessionViFlyttarTill = self.schema.getSessionFörFråga(arg.targetParent.id);
	        var sessionViFlyttarFrån = self.schema.getSessionFörFråga(arg.sourceParent.id);
	        if (sessionViFlyttarTill !== sessionViFlyttarFrån){
		        if (sessionViFlyttarTill.harNågonWorkshopMedForskare(arg.item)){
		        	self.lastError("Forskaren är redan placerad i en fråga den sessionen!");
		        	arg.cancelDrop = true;
		        }
		    }
	        
	        // flasha om det gick fel inkl anledning:
	        if (arg.cancelDrop){
	        	$('#dragWarningModal').modal('show')
	        }
    };
    }
	
</script>	